##############################
## Python
##############################
*.pyc
*.swp

##############################
## Erlang
##############################
*.beam
*.erl~
*.dump

##############################
## Eclipse
##############################
*.prefs

##############################
## temp file
##############################
#*#
