##############################
## Python
##############################
*.pyc

##############################
## Erlang
##############################
*.beam
*.erl~

##############################
## Eclipse
##############################
.settings
